nav a{
    margin-right: 5px;
    padding: 3px 40px;
    border-radius: 3px;
    font-size: medium;

}
nav a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(53, 127, 255, 0.872);
    box-shadow: 8px 8px 3px gray;
}
nav a:focus{
    
    color: rgb(255, 255, 255);
    background-color: rgba(26, 48, 86, 0.855);
    box-shadow: 4px 4px 3px gray;
}